@font-face {
  font-family: FiraSans;
  src: url(https://fonts.googleapis.com/css?family=Fira+Sans);
}
html {
  -moz-filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    filter: gray; /* IE6-9 */
    filter: grayscale(100%);
}
body {
  /*
   * This is the dominant colour, which should be featured in large areas and in the icons. This is where I want to have to 
   *  audience focus.
   *  * Logo
	 *  * Menu Tabs
	 *  * Call to Action Button
	 *  * Highlight important information
	 *  * Title and Headlines
	 *  * Button 
   */
  --dominant-colour: rgba(102, 238, 119, 1); /* #66EE77 */
  /*
   * Used to hightlight secondary information on the website, which should be applied to about 10% of the site.
   *  This colour must heavily contrasted the dominant colours. This is used in very small area, for buttons and in the icons.
   *  The less to use this colour, the more it will stand out.
   *  --accent-colour: #6B0A66; 
   */
  --accent-colour: rgba(255, 178, 109, 1); /* #FFB26D */
  /*
   * Neutral colours
   */
  --white-background: rgba(255, 255, 255, 1); /* #FFFFFF */
  /* 
   * This light background can be used to differentiate against the main background colour
   */
  --light-background: rgba(232, 249, 234, 1); /* #E8F9EA*/ 
  --text-colour: rgba(67, 71, 67, 1); /* #434743*/ 

  background-color: var(--white-background);
  color: var(--text-colour);
  font-family: FiraSans;
}
/*
 * The main header
 */
.main-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header-logo {
  border-right: 2em solid transparent;
  background-clip: padding-box;
}
/*
 * The top navigation bar
 */
.topnav {
  display: flex;
  flex-direction: row;
  color: var(--dominant-colour);
}
.nav-item {
  color: var(--dominant-colour);
  margin: 0 10px;
}
.active-link {
  color: var(--accent-colour);
}

/* 
 * The main content
 */
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  align-items: center;
  background-color: var(--dominant-colour);
}
.main-message {
  color: var(--text-colour);
  font-size: 4vw;
  border-style: dashed;
  border-width: 2px;
}

.secondary-message {
  color: var(--text-colour);
  border-style: dashed;
  border-width: 2px;
}

.action-button {
  background-color: var(--accent-colour);
  color: var(--accent-text-colour);
  font-family: FiraSans;
  color: var(--text-colour);
}
/*
 * The Features section
 */
 